.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Media-container{
  display: flex;
  flex-direction: row;
}
.VideoPlayer{
  height: 45%;
  width:30%;
  margin: 10px;
}
.PDFReader{
  width: 69%;
  margin: 5px;
  display: flex;
  border: 2px solid #669999;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.Header{
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
